<footer class="clearfix">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <p class="collaboration text-center"> {{site.data.translations[page.lang].footer-byline}}</p>
    <div class="footer-left">
        <h4>Links</h4>
        <ul>
            <li><a href="http://bos-schweiz.ch" target="_blank">BOS Schweiz</a></li>
            <li><a href="https://borneoorangutansurvival.org/" target="_blank">BOS UK</a></li>
            <li><a href="https://www.orangutans.com.au/" target="_blank">BOS Australia</a></li>
            <li><a href="https://www.orangutan.or.id/" target="_blank">BOS Foundation</a></li>
            <li><a href="https://www.jakartaanimalaid.com/" target="_blank">Jakarta Animal Aid Network</a></li>
            <li><a href="{{site.data.translations[page.lang].terms_link}}" target="_blank">{{site.data.translations[page.lang].terms_text}}</a></li>
        </ul>
    </div>
    <div class="footer-middle">

        <h4>Kontakt</h4>
        <p>
            <a href="https://www.bos-schweiz.ch">BOS Schweiz</a>
        </p>
        <p>
            Zweierstr. 38a
        </p>
        <p>
            8004 Zürich
        </p>
        <p>
            <a href="mailto:info@bos-schweiz.ch">
    info@bos-schweiz.ch
  </a></p>


    </div>
    <div class="footer-right">



        <h4>

            Spendenkonto:
        </h4>
        <p>
            <strong>
    BOS SCHWEIZ 
  </strong></p>

        <p>
            <strong>
  STICHWORT: 
</strong> born2bewild
        </p>

        <p>
            <strong>
  PC CHF: 
</strong> 85-651634-3
        </p>

        <p>
            <strong>
  IBAN: 
</strong> CH06 0900 0000 8565 1634 3
        </p>

        <p>
            <strong>
  BIC: 
</strong> POFICHBEXXX
        </p>

    </div>
</footer>