{% if page.lang == "de" %}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://tamaro.raisenow.com/bos-ch/latest/widget.js"></script>
<script src="https://www.bos-schweiz.ch/raisenow-forms/raisenow.js"></script>
<div id="rnwSpendeRettungsstationen"></div>

{% else if page.lang == "en" %}
<script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/eyes-of-the-orangutan" name="donorbox" allowpaymentrequest="" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important;margin: 0 auto;"></iframe>{%
endif %}
