<header class="site-header" role="banner">

  <div class="wrapper">
<div class="footprints-wrapper">
  <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
  <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
  <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
  <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
</div>

    <a class="site-title" href="{{ "/" | relative_url}}"><h1>{{ site.title | escape }}</h1></a>
    <span class="page-subtitle">{{page.subtitle}}</span>


  </div>

</header>
