<header class="site-header clearfix" role="banner">
  <div class="logo">
    {% include b2bw-logo.svg %}
  </div>
  <span class="page-subtitle">{{page.subtitle}}</span>
    <span class="share-icons">
    
      <a href="#" class="twitter-share button">
        {% include svg-icon.svg name="twitter" %}
      </a>
      <a href="#" class="facebook-share">
        {% include svg-icon.svg name="facebook" %}
      </a>
    </span>
  </div>
  <!-- <div class="footprints-wrapper">
    <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
    <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
    <img src="{{ "/assets/images/footprints.svg" | relative_url}}" alt="">
  </div> -->
</header>
