<figure>
    <!-- <img src="/assets/images/romeo.jpg" width="800" width="534" alt="Romeo auf einer bewaldeten Insel, seiner neuen Heimat"> -->
    <img sizes="(max-width: 1400px) 100vw, 1400px" srcset="
/assets/images/romeo_tsjybr_c_scale,w_200.jpg 200w,
/assets/images/romeo_tsjybr_c_scale,w_410.jpg 410w,
/assets/images/romeo_tsjybr_c_scale,w_554.jpg 554w,
/assets/images/romeo_tsjybr_c_scale,w_642.jpg 642w,
/assets/images/romeo_tsjybr_c_scale,w_746.jpg 746w,
/assets/images/romeo_tsjybr_c_scale,w_834.jpg 834w,
/assets/images/romeo_tsjybr_c_scale,w_920.jpg 920w,
/assets/images/romeo_tsjybr_c_scale,w_991.jpg 991w,
/assets/images/romeo_tsjybr_c_scale,w_1061.jpg 1061w,
/assets/images/romeo_tsjybr_c_scale,w_1130.jpg 1130w,
/assets/images/romeo_tsjybr_c_scale,w_1195.jpg 1195w,
/assets/images/romeo_tsjybr_c_scale,w_1261.jpg 1261w,
/assets/images/romeo_tsjybr_c_scale,w_1370.jpg 1370w,
/assets/images/romeo_tsjybr_c_scale,w_1389.jpg 1389w,
/assets/images/romeo_tsjybr_c_scale,w_1400.jpg 1400w" src="/assets/images/romeo_tsjybr_c_scale,w_1400.jpg" alt="{{site.data.translations[page.lang].caption}}">
    <figcaption>
        {{site.data.translations[page.lang].caption}} &copy; Aaron Gekoski
    </figcaption>
</figure>
