$main-button-color: black;

// $main-button-color: $fun5;

.bos-button {
    // @include button-style;
    //
    // @include button-hollow;
    display: inline-block;
    margin-bottom: 12px;
    padding: 12px;
    color: $main-button-color;
    border: 3px solid $main-button-color;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .075rem;
    transition: .2s all;
    width: 100%;
    text-align: center;
    @include media-query($on-laptop) {
      width: auto;
    }

    @include media-query($on-desktop) {
        padding: 24px;
        width: auto;
        // @include button-expand;

        &.space-left {
            margin-left: 12px;
        }
    }


    svg {
        fill: currentColor;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        margin-right: 12px;
    }

    &:hover {
        background: $main-button-color;
        text-decoration: none;
        color: white;
        // background: $earthy3;
        // border-color: $earthy3;

    }

    &.info {
      // font-family: "Raleway";
        background: none;
        &:hover {
            background: black;
            color: white;
        }
    }

    &.donate {
      color: white;
      border-color: white;
      background: none;
      &:hover {
        background: lime;
        color: white;
        border-color: lime;
      }
    }
}

.subscribe-button {
  background: none;
  width: 100%;
  &:hover {
    color: white;
  }
}

.bos-button .donate-amount {
  float: right;
}
