// Define defaults for each variable.

// $base-font-family: "Raleway", Helvetica, Arial, sans-serif !default;
$base-font-family: "Raleway",sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     24px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "comdev",
  "buttons"
;

$earthy1: red;

.baby{
	position: absolute;
	top:24px;
	left: 60px;
}

header {
	padding-top: 24px;
	margin-bottom: 60px;

	.page-subtitle {
		display: inline-block;
		padding-top: 34px;
		padding-left: 24px;
		color: $jungleBlack;
		text-transform: uppercase;
		font-weight: 700;
		float: right;
		@include media-query($on-palm){
			text-align: center;
			width: 100%;
			padding-top: 12px;
			float:none;
		}
	}
}

a.site-title {
	&:hover {
		text-decoration: none;
	}
	@include media-query($on-palm){
		width: 100%;
	}
}

.baby-monkey-wrapper  {
	left: 48px;
	position: absolute;
	svg {

	width: 100px;
	transform: rotateZ(-10deg);

	#fur {
		fill: $jungleOrange;
	}
	#white-outline {
		fill: $jungleYellow;
	}
	#head-highlight {
		fill: none;
		stroke: #fdd2b4;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-width: 14px;
		opacity: 0.3;
	}

	#forehead, #maw {
		fill: lemonchiffon;
	}

	#smileshape, #nostrils, #eyes-dark {
		fill: $jungleBlack;
	}
}
}


h1 {
	font-family: "Caveat";
	font-size: 6rem;
	letter-spacing: -.25rem;
	color: white;
	// color: white;
	text-shadow: rgba($jungleBlack,0.23) 0 2px 5px;
	display: block;
	transform: rotateZ(-10deg);
	margin-top: 60px;
	@include media-query($on-palm){
		font-size: 4rem;
		text-align: center;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom: $spacing-unit;

}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section {
  // padding: $spacing-unit;
  // &.dark {
  //   background: yellow;
  // }
  // &.light {
  //   background: orange;
  // }
}

.top-section {
  width: 100%;
  display: block;
	padding: 0 48px;
	@include media-query($on-palm){
		padding: 0 12px;
	}
}

.top-left {
  width: 68%;
  float:left;
	@include media-query($on-palm) {
		width: 100%;
	}
}

.top-right {
  width:32%;
  float:right;
  padding-left:24px;
	margin-bottom: 36px;
	@include media-query($on-palm){
		width: 100%;
		padding-left: 0;
	}
}


.amount-raised-box {
  // border:1px solid #ccc;
  border-radius: 3px;
	box-shadow: rgba($jungleBlack,0.23) 0 10px 60px;
	background: white;
	margin-bottom: 12px;
}

.amount-raised-titlebar {
  padding: 6px 12px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;

  .goal {
    float:right;
  }
}



.amount-raised-body {
	font-family: $system-font-family;
  padding: 12px;
  text-align: center;
  position: relative;

  .amount-total {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: $success;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: $spacing-unit;
  }

  .amount-raised-track, .amount-raised-progress {
    height: $spacing-unit;
    width: 100%;
    background: #eee;
    display: block;
		border-radius: 3px;

  }

  .amount-raised-progress {
    background: $success;
    width: 0%;
    will-change: width;
    transition: 2s width ease-in;
    position: absolute;
    margin-top: -$spacing-unit;
		box-shadow: 1px 0 3px rgba(black,.2);
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
  }
}

.donate-button:hover {
  text-decoration: none;
}
.donate-button  {
  width: 100%;
	padding: 18px;
  margin: 6px 0;


}

body.about {
  img {
    max-width: 50%;
    float:left;
    margin-right: 12px;
  @include media-query($on-palm) {
    max-width: 100%;
    float:none;
    margin: 0;
  }
  }

}

.top-bg {
	height: 200px;
}
