<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "de" }}'>
{% include head.html %}

<body class="{{page.bodyclass}}">
    <div class="hide">

        {% include svg.svg %}
    </div>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
    {% include footer.html %} {% include cookie-popup.html %}
    <span id="nightmodeButton" title="night mode">&#9789;</span>
    <script src="{{ '/js/right-height.min.js' | relative_url }}" charset="utf-8"></script>
    <script src="{{ '/js/app.js' | relative_url }}" charset="utf-8"></script>
    <script>
        //Check if consent cookie is set
        if (document.cookie.indexOf('ga_consent=') == -1) {
            //If not, then disable tracking (default)
            window['ga-disable-UA-93486778-1'] = true;
        } else {
            //Enable tracking
            window['ga-disable-UA-93486778-1'] = false;
        }
    </script>
    <script src="{{ '/js/cookie-consent.js' | relative_url }}" charset="utf-8"></script>
</body>

</html>