<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
  {% include head.html %}
  <body class="{{page.bodyclass}}">
    <div class="hide">

      {% include svg.svg %}
    </div>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ "/js/right-height.min.js" | relative_url }}" charset="utf-8"></script>
    <script src="{{ "/js/app.js" | relative_url }}" charset="utf-8"></script>
    {% include google_analytics.html %}
    {% include google_adwords.html %}
  </body>
</html>
