<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "de" }}'>
{% include head.html %}

<body class="{{page.bodyclass}} nightmode">
    <div class="hide">

        {% include svg.svg %}
    </div>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
    {% include footer.html %} {% include cookie-popup.html %}
    <script src="{{ '/js/right-height.min.js' | relative_url }}" charset="utf-8"></script>
    <script src="{{ '/js/app.js' | relative_url }}" charset="utf-8"></script>
    <script src="https://widget.raisenow.com/widgets/lema/bossc-92d4/js/dds-init-widget-de.js" charset="utf-8"></script>
    <script src="{{ '/js/raiseNow.js' | relative_url }}" charset="utf-8"></script>
    <script src="{{ '/js/cookie-consent.js' | relative_url }}" charset="utf-8"></script>
    {% include google-analytics.html %}
</body>

</html>