--- 
layout: default 
---
    {% include top-image.html %}

    {% for post in site.categories.introduction %}

    <div class="section-content">

    {% if post.lang == page.lang %}
        <div class="section-title">
            <h2>{{ post.title | escape }}</h2>
        </div>
        {{ post.content }}
    {% endif %}
    </div>
    {% endfor %}


</div>
<div class="svg lt">
    {% include leaves.svg %}
</div>

{% for post in site.categories.body %}
{% if post.lang == page.lang %}
<div class="section {% cycle 'dark','light' %} clearfix" id="{{post.anchorID | downcase | slugify }}">
    <div class="section-title">
        <h2>{{ post.title | escape }}</h2>
    </div>
    <div class="section-content">
        {{ post.excerpt }} 

        {% if post.subsite %}
        <a class="bos-button info hollow float-right" id="{{post.title | downcase | slugify }}-end" href="{{ post.url | relative_url }}">Mehr erfahren &raquo;</a> {% endif %}
    </div>



</div>
</div>
<div class="svg {% cycle 'drk','lt' %}">
    {% include leaves.svg %}
</div>
{%endif %}
{% endfor %}