---
layout: default
---
<!-- <div class="svg drk top-bg">
  {% include leaves.svg id="leaves"%}
</div> -->
<div class="section top-section clearfix">
    <div class="top-left">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/{{page.topvideoID}}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
      {% for post in site.categories.introduction %}
      <div class="section-title">
        <h2>
          {{ post.title | escape }}
        </h2>
      </div>
      <div class="section-content">
        {{ post.content }}
      </div>
      {% endfor %}
    </div>
  <div class="top-right">
    <div class="amount-raised-box">
      <div class="amount-raised-titlebar">
        <span class="title">Aktuell<span class="hide-for-palm">er Stand</a></span>
        <span class="goal"><span class="hide-for-palm">Spenden</span> Ziel: {{page.goalAmount}}</span>
      </div>
      <div class="amount-raised-body">
        <span class="amount-total">CHF <span id="currentAmount"> {{ page.currentAmount }} </span></span>
        <span class="amount-raised-track"></span>
        <span class="amount-raised-progress" id="amountProgress" style="width:0%"></span>
      </div>
    </div>
    <div class="spende-jetzt">
      <h3>
        Spende Jetzt
      </h3>
        {% for amount in site.data.donate-amounts %}
          <!--  button {{forloop.index }}-->
          {% include paypal_button.html code=amount.code button-text=amount.button-text %}
        {% endfor %}
    </div>




  </div>




</div>
<div class="svg lt">
{% include leaves.svg %}
</div>

{% for post in site.categories.body %}
  <div class="section {% cycle 'dark','light' %} clearfix" id="{{post.permalink}}">
    <div class="section-title">
      <h2>{{ post.title | escape }}</h2>
    </div>
    <div class="section-content">
      {{ post.excerpt }}
      {% for link in post.subsite %}
        <a class="bos-button info hollow" id="{{post.permalink}}-end" href="{{ post.url | relative_url }}">Mehr erfahren &raquo;</a>
      {% endfor %}
    </div>


    </div>
  </div>
  <div class="svg {% cycle 'drk','lt' %}">
    {% include leaves.svg %}
  </div>
{% endfor %}
